<form action="message/deliver" method="post" accept-charset="utf-8">
  <div>
    <input type="text" name="recipient" value="" id="recipient">
  </div>
  <div>
    <textarea name="message" rows="8" cols="40"></textarea>
  </div>
  <div>
    <input type="submit" name="send" value="Send" id="send">
  </div>
</form>

